
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
}

.todo-list {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 300px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-time {
  font-size: 14px;
  color: #888;
}

h1 {
  color: #333;
  margin: 0;
  font-size: 24px;
}

.task-input {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-task-btn,
.filter-btn,
.sort-btn,
.reset-btn,
.complete-btn,
.edit-btn,
.remove-btn {
  padding: 10px 15px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-task-btn {
  background-color: #28a745;
  color: #ffffff;
}

.filter-btn,
.sort-btn,
.reset-btn {
  background-color: #007bff;
  color: #ffffff;
}

.complete-btn {
  background-color: #ffc107;
  color: #ffffff;
}

.edit-btn {
  background-color: #17a2b8;
  color: #ffffff;
}

.remove-btn {
  background-color: #dc3545;
  color: #ffffff;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}


.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.task-completed {
  color: #888;
  
}

.task-completed::before {
  content: '✔ ';

  color: #28a745;
  
  font-weight: bold;
  
}

.task-buttons {
  display: flex;
  gap: 5px;
 
}

.complete-btn,
.edit-btn,
.remove-btn {
  padding: 8px 12px;

  border-radius: 5px;
  cursor: pointer;
}

.add-task-btn,
.filter-btn,
.sort-btn,
.reset-btn {
  padding: 10px 15px;

  margin: 5px;
  
  border-radius: 5px;
  cursor: pointer;
}


.add-task-btn {
  background-color: #28a745;
  color: #ffffff;
}

.filter-btn,
.sort-btn,
.reset-btn {
  background-color: #007bff;
  color: #ffffff;
}

.complete-btn {
  background-color: #ffc107;
  color: #ffffff;
}

.edit-btn {
  background-color: #17a2b8;
  color: #ffffff;
}

.remove-btn {
  background-color: #dc3545;
  color: #ffffff;
}

/* @media (max-width: 768px) {
  .todo-list {
    width: 100%;
    
  }
} */